#page-4.bb-item
  #experience.bb-custom-side
    .container
      .row
        .col-sm-12
          .card-box
            .row
              .col-md-12.col-xs-12
                .section-title
                  %h2 experience
                  .title-border
                  %p
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    %br>/
                    Lorem Ipsum is simply dummy text.
            / /row
            .time-line
              / Right Services
              - data.jobs.each do |job|
                .row
                  %div{class: "col-sm-6 pull-#{job.align} rex-#{job.align}"}
                    .colam
                      .rs-round
                        %i{class: "#{job.icon}"}
                      .rex-item
                        %h3 #{job.dates}
                        %h4 #{job.title} - #{job.company}
                        %p #{job.description}
              / /row
              .row
                .col-sm-12.resume-button
                  %a.btn.btn-custom{:href => ""}
                    %i.fa.fa-download.download   Resume
/ /page-4
